html,body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
}

/*home_page_navbar*/
nav{
    display:block;
    height:5rem;
    width:100%;
    text-align:center;
    margin-top:1rem;
}
ul{ 
    display:inline-block;
    line-height:2rem;
}
li{
    display:inline;
    padding:1rem;
    float:left;
    height:2rem;
    font-size:1.5rem;
    text-transform:uppercase;
}
.active{
    background-color:#f9da0c;
}
a{
    text-decoration:none;
    color:#000000;
}
a:hover{
    color:#7a1501;
}
li:hover{
    background-color:#f9da0c;
}
hr{
    visibility:hidden;
}
/*dropdown_menu*/
.dropdown{
    margin:1rem;
    display:inline-block;
    position:relative;
    color:#ccc5c5;
    font-size:4rem;
    border:.5px solid #dbd3d3;
    height:4rem;
    width:5rem;
    top:-6rem;
    border-radius:.5rem;
    float:right;
}

.dropdown_content{
    padding: 10px 10px;
    position:absolute;
    display:none;
    margin:0 auto;
}

.fa-bars{
    position:absolute;
    left:.7rem;
    
    cursor:auto;
}
.dropdown{}
.dropdown_content{
    display:block;
    background-color:#f9da0c;
}

.dropdown_a:hover{
    background-color:#f9da0c;
}
#toggle{
    display: block;
    display: none;
    
}
#toggle:checked~p{
   display: block;
   
}
input[type=checkbox]:checked ~ p{
    display: none;
}
